.planner-grid {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 95vw;
    max-width: 150rem;
}

.dates {
    color: azure;
    text-align: center;
    font-size: 2rem;
    margin-top: 10%;
}

.change-date {
    font-size: 2rem;
    padding: 1rem;
    margin: 0 1rem;
    background-color: rgb(118, 118, 118);

}

.change-date:hover {
    cursor: pointer;
    background-color: rgb(146, 146, 146);
}